:host {
  #exampleColorInput {
    min-width: 2.5rem;
  }
  .color-box {
    min-width: 2rem;
    min-height: 2rem;
  }
  
}

.add{
  padding-left: 80%;
}

th, tr, td {
  text-align: center !important;
}

.err{
  color: red;
  padding-left: 43%;
  padding-bottom: 20% !important;
}

.actionClass{
  padding: 4% !important;
}

.pagination {
  padding: 20px 16px;
  float: right;
  font-size: 18px;    
}

.pagination::ng-deep .ngx-pagination .current {
  background: #39f;  
}
.pagination::ng-deep .ngx-pagination .ng-star-inserted{
  text-decoration: none;
}

