:host {
  #exampleColorInput {
    min-width: 2.5rem;
  }
  .color-box {
    min-width: 2rem;
    min-height: 2rem;
  }
  
}

.add{
  padding-left: 80%;
}

th, tr, td {
  text-align: center !important;
}

.err{
  color: red;
  padding-left: 43%;
  padding-bottom: 20% !important;
}

.actionClass{
  padding: 4% !important;
}