<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <c-col xs="12">
          <div class="row">
            <div class="col-sm-6"><strong>Topic List</strong></div>
            <div class="col-sm-6">
              <span class="add"
                ><a [routerLink]="['/topic/add']" class="btn btn-info">
                  Add Topic
                </a></span
              >
            </div>
          </div>
        </c-col>
      </c-card-header>
      <c-card-body>
        <div class="container mt-3">
          <div class="row">
            <form
              cForm
              class="row g-3 form-horizontal"
              [formGroup]="formGroup"
              (ngSubmit)="onSubmit(formGroup.value)"
            >
              <div class="col-sm">
                <select
                  cSelect
                  id="type"
                  class="form-select"
                  formControlName="type"
                  required
                >
                  <option value="" disabled selected>Select type</option>
                  <option value="Topic">Topic</option>
                  <option value="Slug">Slug</option>
                  <option value="Tag">Tag</option>
                </select>
                <div
                  style="color: red"
                  *ngIf="type && type.invalid && type.touched"
                >
                  <div [hidden]="!type.errors?.['required']">
                    Select one Type!
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <input
                  cFormControl
                  type="text"
                  id="search"
                  required
                  class="form-control"
                  placeholder="type your search"
                  formControlName="search"
                />
                <div
                  style="color: red"
                  *ngIf="search && search.invalid && search.touched"
                >
                  <div [hidden]="!search.errors?.['required']">
                    Search is required!
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-outline-secondary">
                  Search
                </button>
                <button
                  type="submit"
                  class="btn btn-outline-secondary"
                  (click)="clear()"
                >
                  Clear <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Topic</th>
              <th scope="col">Slug</th>
              <th scope="col">Parent Topic</th>
              <th scope="col">Action</th>
              <th scope="col">Question Relation</th>
              <th scope="col">Blog Relation</th>
              <th scope="col">Show Menu</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let topic of topics
                  | paginate
                    : {
                        itemsPerPage: 10,
                        currentPage: page,
                        totalItems: totalLength,                        
                      };
                let num = index
              "
            >
              <th scope="row">{{ num + 1 }}</th>
              <td>{{ topic.name }}</td>
              <td>{{ topic.slug }}</td>
              <td>{{ getParentName(topic) }}</td>
              <td>
                <i
                  class="actionClass fa fa-pencil-square-o"
                  aria-hidden="true"
                  routerLink="/topic/edit/{{ topic._id }}"
                ></i>
                <i
                  class="actionClass fa fa-trash-o"
                  aria-hidden="true"
                  (click)="delete(topic._id)"
                ></i>
              </td>
              <td>
                <i
                  class="actionClass fa fa-eye"
                  aria-hidden="true"
                  routerLink="/topic/relation/{{ topic._id }}"
                ></i>
              </td>
              <td>
                <i
                  class="actionClass fa fa-eye"
                  aria-hidden="true"
                  (click)="relation(topic)"
                ></i>
              </td>
              <td>
                <input
                  type="checkbox"
                  [checked]="topic.showNav"
                  (click)="isShowMenu(topic)"
                />
              </td>
            </tr>
          </tbody>
        </table>

        <div class="pagination">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
        <!-- <span class="text-center err" *ngIf="errFlag">{{ errMessage }}</span>

        <c-pagination align="end" aria-label="Page navigation example">
          <li cPageItem [disabled]="currentPage == 1 ? true : false">
            <a cPageLink (click)="previous(currentPage)">Previous</a>
          </li>
          <li
            cPageItem
            *ngFor="let p of parray; let num = index"
            [active]="currentPage == p ? true : false"
          >
            <a cPageLink (click)="updateTopic(p)">{{ p }}</a>
          </li>
          <li cPageItem [disabled]="currentPage == totalPages ? true : false">
            <a cPageLink (click)="next(currentPage)">Next</a>
          </li>
        </c-pagination> -->

        <!-- <nav *ngIf="!errFlag" aria-label="Page navigation example pull-right">
          <ul class="pagination justify-content-center">
            <li
              [ngClass]="currentPage == 1 ? 'page-item disabled' : 'page-item'"
            >
              <a class="page-link">Previous</a>
            </li>
            <span *ngFor="let p of parray; let num = index">
              <li class="page-item">
                <a class="page-link" (click)="updateTopic(p)">{{ p }}</a>
              </li>
            </span>
            <li
              [ngClass]="
                currentPage == lastElement ? 'page-item disabled' : 'page-item'
              "
            >
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav> -->
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
