<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="row">
          <div class="col-sm-6"><strong>Add Topic</strong></div>
          <div class="col-sm-6">
            <span class="add"
              ><a [routerLink]="['/topic/list']" class="btn btn-info">
                Topic List
              </a></span
            >
          </div>
        </div>
      </c-card-header>
      <c-card-body>
        <form
          cForm
          class="row g-3 form-horizontal"
          [formGroup]="formGroup"
          (ngSubmit)="onSubmit(formGroup.value)"
        >
          <c-row>
            <c-col class="col-md-6">
              <label cLabel for="topicname">Topic Name</label>
              <input
                cFormControl
                id="topicname"
                type="email"
                formControlName="name"
                (change)="createSlug($event)"
                required
              />
              <div
                style="color: red"
                *ngIf="name && name.invalid && name.touched"
              >
                <div [hidden]="!name.errors?.['required']">
                  Topic Name is required!
                </div>
              </div>
            </c-col>
            <c-col class="col-md-6">
              <label cLabel for="slug">Slug</label>
              <input
                cFormControl
                id="slug"
                type="text"
                [value]="topicSlug"
                formControlName="slug"
              />
            </c-col>
          </c-row>
          <c-row>
            <c-col class="col-xs-12">
              <label cLabel for="description">Description</label>
              <ckeditor
                cFormControl
                [data]="editorData"
                [config]="this.config"
                (change)="onChange($event)"
              ></ckeditor>
            </c-col>
          </c-row>
          <c-row>
            <c-col class="col-md-6">
              <label cLabel for="parent_id">Parent Topic</label>
              <select
                cSelect
                id="parent_id"
                class="form-select"
                formControlName="parent_id"
              >
                <option value="" selected disabled>
                  --- Choose Parent Topic ---
                </option>
                <option value="0">No parent</option>
                <option
                  *ngFor="let topic of topics; let num = index"
                  [value]="topic._id"
                >
                  {{ topic.name }}
                </option>
              </select>
              <div
                style="color: red"
                *ngIf="parent_id && parent_id.invalid && parent_id.touched"
              >
                <div [hidden]="!parent_id.errors?.['required']">
                  Select one Parent Topic!
                </div>
              </div>
            </c-col>
            <c-col class="col-md-6">
              <label cLabel for="parent_id">Add Tags</label>
              <input
                cFormControl
                id="tags"
                type="text"
                formControlName="tags"
                placeholder="use ' , ' for multiple tags"
              />
              <div
                style="color: red"
                *ngIf="tags && tags.invalid && tags.touched"
              >
                <div [hidden]="!tags.errors?.['required']">
                  Tags is required!
                </div>
              </div>
            </c-col>
          </c-row>

          <c-row>
            <c-col class="col-md-6">
              <label cLabel for="parent_id">Topic TagLine</label>
              <input
                cFormControl
                id="home_tagline"
                type="text"
                formControlName="home_tagline"
                required
              />
              <div
                style="color: red"
                *ngIf="
                  home_tagline && home_tagline.invalid && home_tagline.touched
                "
              >
                <div [hidden]="!home_tagline.errors?.['required']">
                  Tagline is required!
                </div>
              </div>
            </c-col>
            <c-col class="col-md-6">
              <label cLabel for="parent_id">Index No</label>
              <input
                cFormControl
                id="index_no"
                type="text"
                formControlName="index_no"
              />
              <!-- <div
                style="color: red"
                *ngIf="index_no && index_no.invalid && index_no.touched"
              >
                <div [hidden]="!index_no.errors?.['required']">
                  Index No is required!
                </div>
              </div> -->
            </c-col>
          </c-row>
          <c-row>
            <c-col class="col-md-6">
              <label cLabel for="image">Feature Image</label>
              <textarea
                cFormControl
                id="image"
                formControlName="featureImg"
              ></textarea>
            </c-col>
          </c-row>

          <c-row class="mt-2">
            <c-col class="col-xs-6">
              <button cButton type="submit" [disabled]="!formGroup.valid">
                Add Topic
              </button>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
