:host {
  #exampleColorInput {
    min-width: 2.5rem;
  }
  .color-box {
    min-width: 2rem;
    min-height: 2rem;
  }
}

.add{
  padding-left: 73%;
}

.input-group-text{
  padding: 0.72rem 0.75rem;
}

.error {
  margin-left: 2px;
}