<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <c-col xs="12">
          <!-- <c-col xs="6"><strong>Topic List</strong></c-col>
          <c-col xs="6">
          </c-col> -->
          <div class="row">
            <div class="col-sm-6"><strong>Topic List</strong></div>
            <div class="col-sm-6 ">
              <span class="add"><a [routerLink]="['/interview/add']" class=" btn btn-info"> Add Interview </a></span>
            </div>
          </div>
        </c-col>
      </c-card-header>
      <c-card-body>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Topic</th>
              <th scope="col">Slug</th>
              <th scope="col">Action</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let interview of interviewList; let num = index">
              <th scope="row">{{num +1}}</th>
              <td>{{interview.question}}</td>
              <td>{{interview.slug}}</td>
              
              <td>
                <i class="actionClass fa fa-pencil-square-o" aria-hidden="true" (click)="edit(interview)"></i>
                <i class="actionClass fa fa-trash-o" aria-hidden="true" (click)="delete(interview)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>