<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="row">
          <div class="col-sm-6"><strong>Add Blog</strong></div>
          <div class="col-sm-6">
            <span class="add"
              ><a [routerLink]="['/blog/list']" class="btn btn-info">
                Blog List
              </a></span
            >
          </div>
        </div>
      </c-card-header>
      <c-card-body>
        <form
          cForm
          class="row g-3 form-horizontal"
          [formGroup]="formGroup"
          (ngSubmit)="onSubmit(formGroup.value)"
        >
          <c-row>
            <c-col class="col-md-6">
              <label cLabel for="parent_id">Topic</label>
              <select
                cSelect
                id="parent_id"
                class="form-select"
                formControlName="topic_id"
                (change)="getCate($event)"
              >
                <option value="" selected disabled>--- Choose Topic ---</option>
                <option
                  *ngFor="let topic of topics; let num = index"
                  [value]="topic | json"
                >
                  {{ topic.name }}
                </option>
              </select>
              <div
                style="color: red"
                *ngIf="topic_id && topic_id.invalid && topic_id.touched"
              >
                <div [hidden]="!topic_id.errors?.['required']">
                  Select one Parent Topic!
                </div>
              </div>
            </c-col>
            <c-col class="col-md-6" *ngIf="isCategory">
              <label cLabel for="category_id">Category</label>
              <select
                cSelect
                id="category_id"
                class="form-select"
                formControlName="category_id"
                required
              >
                <option value="" selected disabled>
                  --- Choose Category ---
                </option>
                <option
                  *ngFor="let cat of topicCate; let num = index"
                  [value]="cat._id"
                >
                  {{ cat.sub_category }}
                </option>
              </select>
              <div
                style="color: red"
                *ngIf="
                  category_id && category_id.invalid && category_id.touched
                "
              >
                <div [hidden]="!category_id.errors?.['required']">
                  Select one Category of particular Topic!
                </div>
              </div>
            </c-col>
          </c-row>
          <c-row>
            <c-col class="col-md-6">
              <label cLabel for="blogtitle">Blog Title</label>
              <input
                cFormControl
                id="blogtitle"
                type="email"
                formControlName="title"
                (change)="createSlug($event)"
                required
              />
              <div
                style="color: red"
                *ngIf="title && title.invalid && title.touched"
              >
                <div [hidden]="!title.errors?.['required']">
                  Blog Title is required!
                </div>
              </div>
            </c-col>
            <c-col class="col-md-6">
              <label cLabel for="slug">Slug</label>
              <input
                cFormControl
                id="slug"
                type="text"
                [value]="blogSlug"
                formControlName="slug"
              />
            </c-col>
          </c-row>
          <c-row>
            <c-col class="col-xs-12">
              <label cLabel for="description">Description</label>
              <ckeditor
                cFormControl
                [data]="editorData"
                [config]="this.config"
                (change)="onChange($event)"
              ></ckeditor>
            </c-col>
          </c-row>
          <c-row>
            <c-col class="col-md-6">
              <label cLabel for="image">Feature Image</label>
              <input
                cFormControl
                type="url"
                id="image"
                formControlName="feature_image"
              />
            </c-col>

            <c-col class="col-md-6">
              <label cLabel for="image">Feature Video</label>
              <input
                cFormControl
                type="url"
                id="video"
                formControlName="feature_video"
              />
            </c-col>
          </c-row>

          <c-row class="mt-2">
            <c-col class="col-xs-6">
              <button cButton type="submit" [disabled]="!formGroup.valid">
                Add Blog
              </button>
            </c-col>
            <c-col class="draft-col-xs-6">
              <button cButton type="submit" (click)="changeStatus()">
                Save as a Draft
              </button>
            </c-col>
          </c-row>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
