<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <c-col xs="12">
          <div class="row">
            <div class="col-sm-6"><strong>Blog List</strong></div>
            <div class="col-sm-6">
              <span class="add"
                ><a [routerLink]="['/blog/add']" class="btn btn-info">
                  Add Blog
                </a></span
              >
            </div>
          </div>
        </c-col>
      </c-card-header>
      <c-card-body>
        <div class="container mt-3">
          <div class="row">
            <form
              cForm
              class="row g-3 form-horizontal"
              [formGroup]="formGroup"
              (ngSubmit)="onSubmit(formGroup.value)"
            >
              <div class="col-sm">
                <select
                  cSelect
                  id="type"
                  class="form-select"
                  formControlName="type"
                  required
                >
                  <option value="" disabled selected>Select type</option>
                  <option value="Title">Title</option>
                  <option value="Slug">Slug</option>
                </select>
                <div
                  style="color: red"
                  *ngIf="type && type.invalid && type.touched"
                >
                  <div [hidden]="!type.errors?.['required']">
                    Select one Type!
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <input
                  cFormControl
                  type="text"
                  id="search"
                  required
                  class="form-control"
                  placeholder="type your search"
                  formControlName="search"
                />
                <div
                  style="color: red"
                  *ngIf="search && search.invalid && search.touched"
                >
                  <div [hidden]="!search.errors?.['required']">
                    Search is required!
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-outline-secondary">
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Slug</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let blog of blogs
                  | paginate
                    : {
                        itemsPerPage: 2,
                        currentPage: page,
                        totalItems: totalLength
                      };
                let num = index
              "
            >
              <th scope="row">{{ num + 1 }}</th>
              <td scope="row">{{ blog.title }}</td>
              <!-- <td>{{ removeTags(question.question) }}</td> -->
              <td>{{ blog.slug }}</td>
              <td>
                <p (click)="statusUpdate(blog)">{{ blog.status }}</p>
              </td>
              <td>
                <i
                  class="actionClass fa fa-pencil-square-o"
                  aria-hidden="true"
                  routerLink="/blog/edit/{{ blog._id }}"
                ></i>
                <i
                  class="actionClass fa fa-trash-o"
                  aria-hidden="true"
                  (click)="delete(blog._id)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="pagination">
          <pagination-controls
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
