<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <div class="row">
          <div class="col-sm-6">
            <strong
              ><h6>Topic Name: {{ topicByID?.name }}</h6></strong
            >
          </div>
        </div>
      </c-card-header>
      <c-card-body>
        <c-nav variant="tabs">
          <a
            [active]="true"
            [cTabContent]="tabContent"
            [routerLink]
            [tabPaneIdx]="0"
            cNavLink
            >Add Relation</a
          >
          <a
            [cTabContent]="tabContent"
            [routerLink]
            [tabPaneIdx]="1"
            (click)="relationList()"
            cNavLink
            >Relation List</a
          >
        </c-nav>
        <c-tab-content #tabContent="cTabContent">
          <c-tab-pane class="p-3">
            <div>
              <div class="container mt-3">
                <div class="row">
                  <form
                    cForm
                    class="row g-3 form-horizontal"
                    [formGroup]="formGroup"
                    (ngSubmit)="onSubmit(formGroup.value)"
                  >
                    <div class="col-sm">
                      <select
                        cSelect
                        id="level"
                        class="form-select"
                        formControlName="level"
                      >
                        <option value="" disabled selected>
                          Select Question Level
                        </option>
                        <option value="intermediate">Intermediate</option>
                        <option value="beginners">Beginners</option>
                        <option value="advance">Advance</option>
                      </select>
                    </div>
                    <div class="col-sm">
                      <input
                        cFormControl
                        type="text"
                        id="search"
                        class="form-control"
                        placeholder="type your question here"
                        formControlName="search"
                      />
                    </div>
                    <div class="col-sm">
                      <input
                        cFormControl
                        type="text"
                        id="tag"
                        class="form-control"
                        placeholder="type your tag here"
                        formControlName="tag"
                      />
                    </div>
                    <div class="col-sm">
                      <button
                        type="submit"
                        class="btn btn-outline-secondary btn-custom"
                      >
                        Search
                      </button>
                      <button
                        type="submit"
                        class="btn btn-outline-secondary"
                        (click)="clear()"
                      >
                        Clear
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                      </button>
                    </div>
                  </form>
                  <span class="danger" *ngIf="searchErrFlag"
                    >You need to select atleast one filter</span
                  >
                </div>
              </div>
              <div class="tableres" *ngIf="questionFlag">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th>Select</th>
                      <th scope="col">Question</th>
                      <th scope="col">Point</th>
                      <th scope="col">Level</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let question of questions; let num = index">
                      <th scope="row">{{ num + 1 }}</th>
                      <th scope="row">
                        <input type="checkbox" (change)="addId(question._id)" />
                      </th>
                      <td>{{ removeTags(question.question) }}</td>
                      <td>{{ question.point }}</td>
                      <td>{{ question.level }}</td>
                    </tr>
                  </tbody>
                </table>
                <button cButton type="submit" (click)="add()">
                  Add Relation
                </button>
              </div>
            </div>
          </c-tab-pane>
          <c-tab-pane class="p-3">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Question</th>
                  <th scope="col">Point</th>
                  <th scope="col">Level</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let relation of relationListByTopic; let num = index"
                >
                  <th scope="row">{{ num + 1 }}</th>
                  <td>{{ removeTags(relation.questions[0].question) }}</td>
                  <td>{{ relation.questions[0].point }}</td>
                  <td>{{ relation.questions[0].level }}</td>
                  <td>
                    <i
                      class="actionClass fa fa-trash-o"
                      aria-hidden="true"
                      (click)="delete(relation._id)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>

            <span *ngIf="relationListFlag">Opps no relation found</span>
          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
