<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <c-col xs="12">
          <div class="row">
            <div class="col-sm-6"><strong>Questions List</strong></div>
            <div class="col-sm-6">
              <span class="add"
                ><a [routerLink]="['/question/add']" class="btn btn-info">
                  Add Question
                </a></span
              >
            </div>
          </div>
        </c-col>
      </c-card-header>
      <c-card-body>
        <div class="container mt-3">
          <div class="row">
            <form
              cForm
              class="row g-3 form-horizontal"
              [formGroup]="formGroup"
              (ngSubmit)="onSubmit(formGroup.value)"
            >
              <div class="col-sm">
                <select
                  cSelect
                  id="level"
                  class="form-select"
                  formControlName="level"
                  required
                >
                  <option value="" disabled selected>Select Level</option>
                  <option value="intermediate">Intermediate</option>
                  <option value="beginners">Beginners</option>
                  <option value="advance">Advance</option>
                </select>
                <div
                  style="color: red"
                  *ngIf="level && level.invalid && level.touched"
                >
                  <div [hidden]="!level.errors?.['required']">
                    Select one Type!
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <input
                  cFormControl
                  type="text"
                  id="search"
                  required
                  class="form-control"
                  placeholder="type your search"
                  formControlName="search"
                />
                <div
                  style="color: red"
                  *ngIf="search && search.invalid && search.touched"
                >
                  <div [hidden]="!search.errors?.['required']">
                    Search is required!
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <button type="submit" class="btn btn-outline-secondary">
                  Search
                </button>
                <button
                  type="submit"
                  class="btn btn-outline-secondary"
                  (click)="clear()"
                >
                  Clear <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Question</th>
              <th scope="col">Point</th>
              <th scope="col">Level</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let question of questions; let num = index">
              <th scope="row">{{ num + 1 }}</th>
              <td>{{ removeTags(question.question) }}</td>
              <td>{{ question.point }}</td>
              <td>{{ question.level }}</td>
              <td>
                <i
                  class="actionClass fa fa-pencil-square-o"
                  aria-hidden="true"
                  routerLink="/question/edit/{{ question._id }}"
                ></i>
                <i
                  class="actionClass fa fa-trash-o"
                  aria-hidden="true"
                  (click)="delete(question._id)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
