:host {
  #exampleColorInput {
    min-width: 2.5rem;
  }
  .color-box {
    min-width: 2rem;
    min-height: 2rem;
  }
  
}

.add{
  padding-left: 73%;
}

th, tr, td {
  text-align: center !important;
}
